[Unit]
Description=pinto container
Author=Avast Viruslab Systems
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pintod
ExecStartPre=-/usr/bin/docker rm pintod
ExecStartPre=/usr/bin/docker pull avastsoftware/pinto
ExecStart=/usr/bin/docker run --name pintod -v /var/lib/pinto:/var/lib/pinto -p 3111:3111 avastsoftware/pinto

[Install]
WantedBy=multi-user.target
